<aside class="sidebar-admin m-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" ActiveClass="active" href="/admin/posts" Match="NavLinkMatch.Prefix">Посты</NavLink>
            <NavLink class="nav-link" ActiveClass="active" href="/admin/editor" Match="NavLinkMatch.Prefix">Статьи</NavLink>
            <NavLink class="nav-link" ActiveClass="active" href="/admin/recommendations" Match="NavLinkMatch.Prefix">Рекомендации</NavLink>
        </li>
    </ul>
</aside>

@code {
    
}