@inherits LayoutComponentBase

<div class="page admin-layout">
    <MainHeader/>
    <main style="min-height: calc(100vh - 134px);">
        <div class="d-flex">
            <AdminSidebar/>
            <div class="container-fluid my-3">
                @Body
            </div>
        </div>
    </main>
    <MainFooter/>
</div>