@inherits LayoutComponentBase

<div class="page">
    <MainHeader/>
    <main>
        <div class="container d-flex">
            <div style="width: 100%;">
                @Body
            </div>
            <MainSidebar/>
        </div>
    </main>
    <MainFooter/>
</div>