<footer>
    <div class="container d-flex justify-content-between align-items-center">
        <div class="footer-copyright">
            Crafted with
            <span class="oi oi-heart"></span>
            in
            <a href="https://docs.microsoft.com/ru-ru/aspnet/core/blazor">Blazor</a>
        </div>
        <div class="footer-menu">
            <ul>
                <li class="footer-menu-item">
                    <NavLink href="/">@Strings.Home</NavLink>
                </li>
                <li class="footer-menu-item">
                    <NavLink href="/about">@Strings.About</NavLink>
                </li>
                <li class="footer-menu-item">
                    <NavLink href="/contact">@Strings.ContactUs</NavLink>
                </li>
            </ul>
        </div>
    </div>
</footer>

@code {

}