@inherits LayoutComponentBase

<div class="page">
    <MainHeader/>
    <main style="min-height: calc(100vh - 134px);">
        <div class="container">
            <div style="width: 100%;">
                @Body
            </div>
            <MainSidebar/>
        </div>
    </main>
    <MainFooter/>
</div>