<footer>
    <div class="container d-flex justify-content-between align-items-center">
        <div class="footer-copyright">
            Crafted with
            <span class="oi oi-heart"></span>
            in
            <a href="https://docs.microsoft.com/ru-ru/aspnet/core/blazor">Blazor</a>
        </div>
        <div class="footer-menu">
            <ul>
                <li class="footer-menu-item">
                    <a href="/">@Strings.Home</a>
                </li>
                <li class="footer-menu-item">
                    <a href="/">@Strings.About</a>
                </li>
                <li class="footer-menu-item">
                    <a href="/">@Strings.ContactUs</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

@code {

}