@page "/"
@inject IPostService PostService
@inject IFilterService FilterService
@implements IDisposable

<PageTitle>@Strings.Home</PageTitle>
<PostFilterMessage Filter="_filter" />
<Loader IsLoading="_isLoading" />

@if (_posts is not null && !_isLoading)
{
    @foreach (var post in _posts)
    {
        <PostCard Post="post" />
    }

    if (!_posts.Any())
    {
        <div class="no-posts">
            @Strings.NoResultsFound
        </div>
    }

    else if (_metaData.CurrentPage < _metaData.TotalPages)
    {
        <div class="text-center">
            <button class="load-more">@Strings.LoadMore</button>
        </div>
    }
    else
    {
        <div class="text-center">
            <span class="load-more no-more">@Strings.ThatIsAll</span>
        </div>
    }
}

@code {

    private MetaData _metaData = new();
    private IEnumerable<PostListItemDto>? _posts;
    private PostFilter? _filter;
    private bool _isLoading;

    protected override async Task OnInitializedAsync()
    {
        _filter = FilterService.Filter;
        FilterService.FilterChanged += FilterServiceOnFilterChanged;
        await LoadPosts(_filter);
    }

    private void FilterServiceOnFilterChanged(PostFilter filter)
    {
        _filter = filter;
        Task.Run(async() => await LoadPosts(_filter));
    }

    private async Task LoadPosts(PostFilter filter)
    {
        _isLoading = true;
        StateHasChanged();

        try
        {
            var posts = await PostService.GetPostsAsync(filter);
            if (posts is not null)
            {
                _metaData = posts.MetaData;
                _posts = posts;
            }
        }
        catch (Exception)
        {
            //
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        FilterService.FilterChanged -= FilterServiceOnFilterChanged;
    }

}