.load-more {
    display: inline-block;
    height: 34px;
    background-color: #598cff;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    line-height: 34px;
    box-sizing: border-box;
    padding: 0 30px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom-width: 2px;
    border-radius: 2px;
}

.no-more {
    background-color: rgba(155, 155, 155, 0.05);
    color: #598cff;
}

.no-posts {
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0;
    margin: 0 0 25px;
    text-align: center;
}