$app-color-bg: #f2f6f8;
$app-color-bg-light: #ffffff;
$app-color-bg-dark: #111111;
$app-color-accent: #598cff;
$app-color-text-dark: #000000;
$app-color-text: #181818;
$app-color-text-light: #aaaaaa;
$app-color-text-post: #656565;
$app-color-green: #0be6af;
$app-color-red: red;
$app-color-border: #ebebf3;
$app-color-border-post: #f2f2f6;