.post {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 0 35px;
    border: 1px solid #ebebf3;
    border-radius: 3px;
}

.breadcrumb {
    font-size: 12px;
    font-weight: 400;
    height: 34px;
    background-color: #fdfdff;
    color: #aaa;
    line-height: 34px;
    padding: 0 15px;
    margin: 0 0 15px;
    border-bottom: 2px solid #f2f2f6;
}

.breadcrumb a {
    color: #aaa;
    transition: color .17s;
}

.breadcrumb a:hover {
    color: #598cff;
}

.post-title {
    color: #000000;
    font-size: 30px;
    line-height: 1.4em;
    font-weight: 400;
    position: relative;
    display: block;
    padding: 0 15px;
    margin: 0 0 15px;
}

.post-meta {
    overflow: hidden;
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    padding: 0 15px;
    margin-bottom: 15px;
}

.post-author,
.post-date {
    float: left;
    display: inline-block;
    margin: 0 10px 0 0;
    color: #aaa;
    transition: color .17s;
}

.post-author:hover,
.post-date:hover {
    color: #598cff;
}

.post-body {
    width: 100%;
    font-size: 15px;
    line-height: 1.6em;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 15px 0;
    margin: 15px 0 20px;
    border-top: 1px solid #f2f2f6;
    word-wrap: break-word;
    font-weight: 400;
    color: #656565;
}