@inject IFilterService FilterService

@if (IsShowFilterMessage)
{
    <div class="query-message">
        <span class="query-info">
            @GetText()
            <span class="search-label">@GetLabel()</span>
        </span>
        <button class="show-more" @onclick="@(() => FilterService.Reset())">@Strings.ShowAll</button>
    </div>
}

@code {

    [Parameter]
    public PostFilter? Filter { get; set; }

    private bool IsShowFilterMessage => Filter is not null &&
                                        (!string.IsNullOrEmpty(Filter.Tag) || !string.IsNullOrEmpty(Filter.Author) ||
                                         Filter.Date != null || !string.IsNullOrEmpty(Filter.Query));

    private string GetText()
    {
        if (!string.IsNullOrEmpty(Filter?.Query))
        {
            return Strings.ShowingPostsMatchingTheSearchFor;
        }
        if (!string.IsNullOrEmpty(Filter?.Tag))
        {
            return Strings.ShowingPostsWithTheLabel;
        }
        if (!string.IsNullOrEmpty(Filter?.Author))
        {
            return Strings.ShowingPostsBy;
        }
        return Filter?.Date != null ? Strings.ShowingPostsFor : string.Empty;
    }
    
    private string GetLabel()
    {
        if (!string.IsNullOrEmpty(Filter?.Query))
        {
            return Filter.Query;
        }
        if (!string.IsNullOrEmpty(Filter?.Tag))
        {
            return Filter.Tag;
        }
        if (!string.IsNullOrEmpty(Filter?.Author))
        {
            return Filter.Author;
        }
        return Filter?.Date != null ? ((DateTime)Filter.Date).ToString("dd.MM.yyyy") : string.Empty;
    }
}