<div class="last-youtube">
    <iframe width="560" height="349" src="@Src" frameborder="0" allowfullscreen>
    
    </iframe>
</div>

@code {

    [Parameter]
    public string Src { get; set; } = default!;

}