@inject IPostService PostService
@inject IFilterService FilterService

@if (_tags is not null)
{
    <SidebarCard Title="@Strings.Tags">
        <ul class="tags-list">
            @foreach (var tag in _tags)
            {
                <li>
                    <button @onclick="() => FilterService.SearchByTag(tag.Name)">
                        @tag.Name
                    </button>
                </li>
            }
        </ul>
    </SidebarCard>
}

@code {

    private IEnumerable<TagDto>? _tags;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _tags = await PostService.GetAllTagsAsync();
        }
        catch (Exception _)
        {
            //ignore
        }
    }
}