.card-title {
    display: block;
    height: 40px;
    font-size: 15px;
    color: #111111;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
    text-align: left;
    padding: 0 10px;
    margin: 0;
}

.card-content {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}